{% if is_playing %}
<div class="well">
    <h4>{{ title }}</h4>
    <a id="media-stop" href="#" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></a>&nbsp;&nbsp;
    <a id="media-pause" href="#" class="btn btn-default"><span class="glyphicon glyphicon-pause"></span></a>&nbsp;&nbsp;
    <a id="media-jump-backward" href="#" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> 30s</a>&nbsp;&nbsp;
    <a id="media-jump-forward" href="#" class="btn btn-default"><span class="glyphicon glyphicon-forward"></span> 30s</a>&nbsp;&nbsp;
</div>
{% endif %}